.adventure {
  padding: 37px 103px 147px 103px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;

  @media (max-width: 1023px) {
    padding: 17px 45px 92px 45px;
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    padding: 0 15px 88px 15px;
    column-gap: 30px;
    grid-template-columns: 1fr;
  }
}

.adventure__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px) {
    margin: 0 0 42px 0;
  }
}

.adventure__wrapper h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011c40;
  margin: 0 0 23px 0;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 140%;
    margin: 0 0 15px 0;
    max-width: 205px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 140%;
    margin: 0 0 17px 0;
    max-width: 205px;
  }
}

.adventure__wrapper p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
  max-width: 512px;
}

.adventure img {
  @media (max-width: 1023px) {
    padding: 10px 0 0 0;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    padding: 0;
  }
}
