.intro__wrapper {
  padding: 233px 0 362px 0;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 677px;
    padding: 231px 0 351px;
  }

  @media (max-width: 767px) {
    padding: 133px 0 234px 15px;
  }

  @media (min-width: 439px) and (max-width: 767px) {
    padding: 133px 0 279px 15px;
  }
}

.intro__wrapper h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
  text-shadow: rgba(0, 0, 0, 0.25);
  margin: 0 0 10px 0;

  @media (max-width: 1023px) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 125%;
  }
}

.intro__wrapper p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
  text-shadow: rgba(0, 0, 0, 0.25);
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
    max-width: 220px;
  }

  @media (min-width: 350px) and (max-width: 767px) {
    max-width: unset;
  }
}
